<div id="entryQuestion">
  <h4>In oder to proceed you need to login or register</h4>
</div>
<br />
<br />
<br />
<br />
<div id="entryAnswer">
  <a href="/login" class="btn btn-success">Login</a>
  <a href="/register" class="btn btn-success">Register</a>
</div>
<br />
<br />
<br />
<br />
<div id="healthCanadaDiv">
  <img id="healthCanada" src="../images/government.svg" />
</div>
