<div id="loginForm">
  <br/><br/><br/>
  <form method="POST" action="/login"> 
  <input id="input" name="login" placeholder="Enter your login"></input><br/><br/>
  <input id="input" name="password" placeholder="Enter your password"></input><br/><br/>
  <button type="submit" class="btn btn-success">Submit</button>
  <br/><br/>
  <a href="/" class="btn btn-success">Main Menu</a>
</form>
</div>
